[flake8]
exclude =
    .git,
    __pycache__,
    .venv/,
    venv/,
    env/,
    migrations,
    *.pyc,
    *.sock,
    .mypy_cache,
    .pytest_cache,
max-line-length = 100
per-file-ignores =
    config/settings/development.py: F401,F403,F405
    config/settings/production.py: F401,F403,F405
    config/settings/testing.py: F401,F403,F405
